* {
    box-sizing: border-box;
    margin: 0;
}


.parent1 {
    margin: 10px auto;
    width: 700px;
    
}

.x-ax {
    position: relative;
    font-size: 20px;
    top: 40px;
}

.x-ax::before {
    content: "";
    background-color: green;
    width: 100px;
    height: 3px;
    position: absolute;
    left: 65px;
    top: 12px;

}
.x-ax::after {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color:  transparent transparent transparent green;
    position: absolute;
    left: 165px;
    top: 4px;
}

.y-ax {
    position: relative;
    right: 40px;
    top: 70px;
    writing-mode: vertical-rl;
    font-size: 20px;
}

.y-ax::before {
    content: "";
    background-color: green;
    width: 3px;
    height: 100px;
    position: absolute;
    left: 8px;
    top: 65px;

}
.y-ax::after {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: green transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 165px;
}

.c1 {
    background-color: #eee;
    width: 200px;
    height: 200px;
    /* border: solid 1px transparent ; */
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
    
}

.c2 {
    background-color: crimson;
    width: 90%;
    height: 90%;
    position: absolute;
    /* margin: 15px auto; */
    clip-path: circle(70px at 50% 50%);
}



.parent2 {
    margin: 10px auto;
    width: 700px;
}




.x-ax2 {
    position: relative;
    font-size: 20px;
    top: 40px;
}

.x-ax2::before {
    content: "";
    background-color: green;
    width: 100px;
    height: 3px;
    position: absolute;
    left: 65px;
    top: 12px;

}
.x-ax2::after {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color:  transparent transparent transparent green;
    position: absolute;
    left: 165px;
    top: 4px;
}

.y-ax2 {
    position: relative;
    right: 40px;
    top: 70px;
    writing-mode: vertical-rl;
    font-size: 20px;
}

.y-ax2::before {
    content: "";
    background-color: green;
    width: 3px;
    height: 100px;
    position: absolute;
    left: 8px;
    top: 65px;

}
.y-ax2::after {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: green transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 165px;
}

.c3 {
    background-color: #eee;
    width: 200px;
    height: 200px;
    position: relative;
    /* border: solid 1px transparent ; */
    padding-top: 10px;
    padding-left: 10px;
    
}

.c4 {
    background-color: lightblue;
    width: 90%;
    height: 90%;
    /* margin: 15px auto; */
    clip-path: polygon( 50% 50%, 100% 100%, 0% 100%);
    position: absolute;
}
.c5 {
    background-color: lightgreen;
    position: absolute;
    width: 90%;
    height: 90%;
    /* margin: 15px auto; */
    clip-path: polygon( 50% 50%, 0% 100%, 0% 0%);
}
.c6 {
    background-color: crimson;
    position: absolute;
    width: 90%;
    height: 90%;
    /* margin: 15px auto; */
    clip-path: polygon( 100% 0%, 100% 100%, 50% 50%);
}
.c7 {
    background-color: violet;
    position: absolute;
    width: 90%;
    height: 90%;
    /* margin: 15px auto; */
    clip-path: polygon( 0% 0%, 100% 0%, 50% 50%);
}

/* Clip-Path origin always from Top Left */

/* ( first angle , second angle , third angle ( clockwise) 
 clip-path: polygon( 100% 50%, 0% 100%, 0% 0%); */

 /* you can use this website to create shape and copy the code
 https://bennettfeely.com/clippy/ */



 /* ------------------------------------------------------------------------ */


.scrollbar {
    line-height: 40px;
    font-size: 25px;
}

::-webkit-scrollbar {
    width: 20px;
}

/* ::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    box-shadow: 0 0 10px black inset;

}

::-webkit-scrollbar-thumb {
    background-color: #cd5c5c40;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: indianred;
} */

.scrollbar-local {
    width: 50px;
    height: 50px;
    padding: 200px;
    overflow: auto;
    background-color: #eee;
    font-size: 30px;
    scrollbar-color: black blue;
}

.scrollbar-local::-webkit-scrollbar-track {
    background-color: lightgreen;

}

.scrollbar-local::-webkit-scrollbar-thumb {
    background-color: lightblue;
}

.scrollbar-local::-webkit-scrollbar-thumb:hover {
    background-color: blue;
}
.scrollbar-local::-webkit-scrollbar-corner {
    background-color: violet;
}

/* ------------------------------------------------------------------------ */

.typewriter {
    background-color: #333;
    width: 700px;
    height: 700px;
    margin: 20px auto;
    color: white;
    font-size: 30px;
    border: 1px solid transparent;

}

.typewriter p {
    width: 367px;
    margin: 30px auto;
    border-right: 2px solid rgb( 255 255 255 / 80%);
    overflow: hidden;
    white-space: nowrap;
    animation: width 3s steps(26) both , blink .5s infinite;

}

@keyframes width {
    from {
        width: 0;
    }
    to {
        width: 367px;
    }
    
}

@keyframes blink {
    from {
        border-right-color: rgb( 255 255 255 / 80%) ;
    }
    to {
        border-right-color: transparent ;
    }
}

/* ------------------------------------------------------------------------ */

form  {
    width: 400px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 25px;
    font-size: 25px;
}

form > div {
    padding: 10px 0;
}

form input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
} 


form label {
    position: relative;
} 

form label::before {
    content: "";
    width: 25px;
    height: 25px;
    border: 1px solid blue;
    position: absolute;
    background-color: white;
    left: -35px;
}

form input[type="radio"]:checked + label::after {
    content: "";
    background-color: blue;
    width: 15px;
    height: 15px;
    border: 1px solid blue;
    position: absolute;
    left: -30px;
    top: 5px;
    
    
}

form input[type="radio"]:not(:checked):hover + label::after {
    content: "";
    background-color: blue;
    width: 15px;
    height: 15px;
    border: 1px solid blue;
    position: absolute;
    left: -30px;
    top: 5px;
    opacity: .2;
    
}

form input[type="radio"]:checked + label {
    color: red;
    font-size: 30px;
}

/* ------------------------------------------------------------------------ */

.product {
    width: 400px;
    margin: 20px auto;
    box-shadow: 0 0 10px #ddd;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.product .number {
    background-color: #0e644c;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s;
    

}

.product h3 {
    margin: 15px;
    font-size: 25px;
    transition: 0.6s;
}

.product p {
    line-height: 1.6;
    font-size: 18px;
    transition: 0.6s;
}

.product:hover .number{
    box-shadow: 0 0 0 500px #0e644c;
}

.product:hover p,
.product:hover h3 {
    color: white;
}


/* ------------------------------------------------------------------------ */

.product1 {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;

}

.product1 h2  {
    margin:0 0 20px;
    background-color:#0e644c ;
    color: white;
    padding: 10px;
    width: calc(100% + 80px);
    position: relative;
    left: -40px;
    
}

.product1 h2::before {
    content: "";
    border-width: 10px;
    border-color:#1b3c33 #1b3c33 transparent transparent;
    border-style: solid;
    position: absolute;
    left: 0;
    bottom: -20px;
}
.product1 h2::after {
    content: "";
    border-width: 10px;
    border-color: #1b3c33 transparent transparent #1b3c33 ;
    border-style: solid;
    position: absolute;
    right: 0;
    bottom: -20px;
}


/* ------------------------------------------------------------------------ */

.button {
    background-color: #eee;
    margin: 100px auto;
    padding: 10px 20px;
    font-size: 40px;
    display: block;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.button:focus {
    outline: none;
}

.button span {
    background-color: #333;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    min-width: 260px;
    padding: 10px 15px;
    top: -60px;
    transition: 1.5s;
    opacity: 0;
}

.button span::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    border-width: 10px;
}

.button:hover {
    overflow: visible;
}

.button:hover span {
    opacity: 1;
}

[data-position="bottom"] span {
    bottom: -60px;
    top: auto;
    
}

[data-position="bottom"] span::before {
    bottom: auto;
    top: -20px;
    border-color:  transparent transparent #333 transparent;
}

/* ------------------------------------------------------------------------ */

.fill {
    margin:20px auto ;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    /* background-color: tomato; */
    width: fit-content;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 2px #333;
    position: relative;
}

.fill::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-text-fill-color: orange;
    transition: 1s;
    width: 0;
    overflow: hidden;

}

.fill:hover::before {
    width: 100%;
}

/* ------------------------------------------------------------------------ */

.parent-text {
    background-color: #333;
    margin: 20px auto;
    width: 600px;
    height: 400px;
    border: 1px solid transparent;
}

.link {
    color: #8bc34a;
    text-decoration: none;
    display: block;
    border: 2px solid #8bc34a;
    margin: 20px auto;
    position: relative;
    width: 160px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    overflow: hidden;
}

.link::before {
    content: attr(data-text2);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: yellow;
    transform: translateX(-100%);
    transition: 0.3s;
}

.link span {
    display: block;
    transition: 0.3s;

}

.link:hover::before {
    transform: translateX(0);
}
.link:hover span {
    /* transform: translateX(-100%); */
    transform: translateX(100%);
}

/* ------------------------------------------------------------------------ */


